* {
    background-color: #000;
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, sans-serif;
}

main {
    text-align: center;
    padding: 20px;
}

.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.input-container input[type="text"],
.input-container input[type="password"] {
    width: 50%;
    padding: 10px;
    margin: 0 10px;
    border: 1px solid #ccc;
}

.input-container button {
    background-color: #D0B312;
    color: #000;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.bottom-options {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.bottom-options a {
    text-decoration: none;
    color: #D0B312;
    margin: 0;
}

.banner {
    background-image: url('C:\AAPROZ\bannerPromo.jpg');
    background-size: cover;
    height: 410px;
    background-position: center center;
}

.filters {
    background-color: #000;
    padding: 20px;
}

form {
    max-width: 500px;
    margin:  auto;
    margin:  auto;
    padding: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
    color: #808080;
}

input[type="text"],
textarea,
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    color: #D0B312;
}

button {
    background-color: #D0B312;
    color: #000;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    -webkit-box-shadow: 8px 5px 4px -2px rgba(77,73,5,0.85); 
    box-shadow: 8px 5px 4px -2px rgba(77,73,5,0.85);
}

button:hover {
    background-color: #000;
    color: #D0B312;
    font-size: 1.5rem;
}


.content {
    width: auto;
    height: auto;
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.content .item {
    flex: 1;
    padding: 20px;
    text-align: center;
    color: #808080;
    background-color: #000;
    margin: auto;
    overflow: auto;
}

.comment {
    /* border: 1px solid #ccc; */
    align-items: center;
    justify-content: center;
    text-align: center;
}

.comment img {
    max-width: 100%;
}

.comment-form {
    background-color: #000;
    padding: 20px;
    margin: auto;
}

a {
    color: #DAA520;
}

a:hover {
    color: #808000;
    text-decoration: none;
    font-size: 1.5rem;
}

h1 {
    color: #B8860B;
    text-align: center;
}

h2 {
    color: #DAA520;
    text-align: center;
}

h3 {
    color: #BDB76B;
    text-align: center;
}


p {
    color: #D0B312;
    text-align: center;
    width: auto;
    height: auto;
    justify-content: center;
}

.texto {
    color: #ccc;
    text-align: center;
    width: 250px;
    height: auto;
    font-family: 'Times New Roman', Times, serif;
}

p .texto {
    margin: 0;
    justify-content: center;
    align-items: center;
}

#filme-serie {
    color: #d0b312;
    font-size: 55px;
    
}

img:hover {
    scale: 1.1;
}


.imagem {
    width: 100%;
    height: auto;
    display: block;
    float: left;
    margin-right: 10
}

.container {
    position: right;
    padding: 15px;
    max-width: 100%;
    margin: 0 auto;
}

.item {
    width: 250px;
    width: 500%;
}

#nome {
    color: #D0B312;
}

#comentario, #nome-filme-serie, #nome-usuario{
    color: #D0B312;
    width: auto;
    height: auto;
}

#nota {
    color: #D0B312;
    text-align: right;
}

.star-rating {
    font-size: 24px; /* Ajuste o tamanho das estrelas conforme necessário */
    padding: 5px;
    border: none;
    background-color: transparent;
}

.rating {
    font-size: 40px;
    cursor: pointer;
    margin-top: 20px;
}

.star {
    display: inline-block;
    padding: 5px;
}

.result {
    font-size: 20px;
    margin-top: 10px;
}

.star2 {
    display: inline-block;
    padding: 5px;
    color: #D0B312;
    cursor: default;
}

.img-perfil {
    width: 5cm;
    height: 5cm;
    border-radius: 50%;
    object-fit: cover; 
    margin: 2rem;
}

.perfis {
    display: flex;
    margin: 5rem;
}

#perfil {
    margin-top: 5rem;
    margin-bottom: 1rem;
}