* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}

body .container {
    background-color: black;
}

.carousel-page-home {
    margin-top: 100px;
    width: 70%;
    height: 20vh;
    margin: 0 auto;
}

.carousel-control-next-icon {
    color: #E2B616;
}

.carousel-control-prev-icon {
    color: #E2B616;
}


