* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}

body .container {
    background-color: black;
}

.carousel-page-home {
    margin-top: 100px;
    width: 70%;
    height: 20vh;
    margin: 0 auto;
}

.carousel-control-next-icon {
    color: #E2B616;
}

.carousel-control-prev-icon {
    color: #E2B616;
}

.card-img-top {
    min-height: 350px;
    height: 350px;
}

.card {
    border: 3px solid #E2B616;
    max-height: 500px;
    overflow-y: auto;
    overflow-x: none;
}

.card-body {
    color: white;
}

.card-title {
    color: #E2B616;
}

.card-text {
    opacity: 0.7;
}

.img-card-noticia  {
    width: 150px;
    height: 200px;
}

.img-noticia {
    max-height: 200px;
    min-height: 200px;
}


